<% content_for(:title, "List of Lists") %>


<h1>Active Lists</h1>

<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name.titlecase(), list_path(list) %></li>
  <% end %>
</ul>

<p><%= link_to "Create New List", new_list_path %> </p>
